body{
    font-size: 16px;
    color: #fff;
    background-color:   #292928;
    font-family: 'Roboto Slab', serif;
}

h1{
    text-align: center;
}



.row{
    width: 100%;
}

#shushi-details a{
    text-decoration: none;

}

#header-nav{
    background-color:   #d0cfcc;
    border-radius: 0;
    border: 0;
}
.navbar-brand a{
    text-decoration: none;
    color: #000;
}

#collapsable-nav{
    text-align: center;
}


#chicken-details{
    overflow: hidden;
    position: relative;
    background-color: #0087e1;
    border: 2px solid black;
    margin: 3px;
    padding: 20px;
}

#beef-details{
    overflow: hidden;
    position: relative;
    background-color: #f94c0a;
    border: 2px solid black;
    margin: 3px;
    padding: 20px;

}

#shushi-details{
    overflow: hidden;
    position: relative;
    background-color: #65000f;
    border: 2px solid black; 
    margin: 3px;
    padding: 20px;    
    
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #000;

}

#chicken {
     position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    opacity: .7;
    background-color: #65000f;
    text-align: center;
}

#beef {
     position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    opacity: .7;
    background-color: #0b3438;
    text-align: center;
}

#shushi {
     position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    opacity: .7;
    background-color: #0000ff;
    text-align: center;
}
